.admin-login {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    height: 100%;
    color: var(--textColorDark);
    gap:2rem;
    font-size: 2rem;
    
    
    h2{
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: var(--mainColor);
      text-align: center;
      font-size: 2rem;
    }
  
    
    input {
      font-size: 1.9rem;
      cursor: pointer;
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid var(--mainColor);
      border-radius: 6px;
      font-size: 1rem;
      background-color: var(--textColorLight);
      color: var(--textColorDark);
  
      &:focus {
        outline: none;
        border-color: var(--textColorLight);
      }
    }
    .login-button {
      width: 100%;
      border-radius:50px;
      background-color: var(--mainColor);
      padding: 1rem;
      color: var(--textColor);
      border: none;
      font-size: 1.3rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 2rem;
  
      &:hover {
        background-color: var(--greenColor);
      }
  
      &:disabled {
        background-color: var(--SecondaryColor);
        cursor: not-allowed;
      }
  
      &.loading {
        background-color: var(--buttonSecondaryColor);
        color: var(--textColorLight);
      }
    }
    .register-admin-new{
      
      border-top: 2px solid var(--textColor);
      cursor: pointer;
      
      transition: background-color 0.3s ease;
      text-decoration: none;
      padding: 0.9rem;
      color: var(--textColorDark);
      text-align: center;
      p{
        margin-top: 1.3rem;
        font-size: 1.5rem;
      }
     
    
    
      
        
       
        
        &:hover {
          background-color: var(--buttonColor);
        }
      }

    }

  
  
  
  @media (max-width: 768px) {
    .admin-login {
      margin-top: 0;
      margin-bottom: 1rem;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      gap:0.5rem;
      h2{
        margin-top: 5vh;
        font-size: 1.5rem;
      }
  
      .input,button {
        font-size: 0.8rem;
        padding: 0.4rem;
      }
  
      .login-button {
        font-size: 1rem;
        padding: 0.9rem;
      }
    
    .register-admin-new{
      
      border-top: 2px solid var(--textColor);
      cursor: pointer;
      color: var(--textColor);
      p{
        font-size: 1.2rem;
      }
     
    } 
    
      
        
  }
}