.login-container {
  max-width: 600px;
  padding: 2.5rem;
  border-radius: 8px;
  color: var(--textColorDark);
  font-size: 1.5rem;
  

  h2 {
    text-align: center;
    color: var(--mainColor);
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
  p{
    margin-top: 0.8rem;
    font-size: 1.1rem;
    text-align: center;
  }

  input {
    cursor: pointer;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid var(--mainColor);
    border-radius: 4px;
    font-size: 1rem;
    background-color: var(secondaryColorLight);
    color: var(--textColorDark);

    &:focus {
      outline: none;
      border-color: var(--mainColor);
    }
  }

  button {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--textColor);
    border-radius: 50px;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: var(--mainColor);

    &:hover {
      background-color: var(--greenColor);
    }
  }
}
  
@media (max-width: 768px) {
  .login-container {
    width: 80vw;
    font-size: 1.5rem;
    gap: 0.5rem;
    
    h2{
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1.2rem;
    }
    p{
      margin-top: 0.8rem;
      font-size: 0.9rem;
      
    }
    input {
      font-size: 0.8rem;
      padding: 0.7rem;
    }
    button{
      padding: 0.9rem;
      font-size: 1rem;
    }
  }
  
}
