header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColorLight);
  color: var(--textColor);
  .logo {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;

    img {
      max-width: 50px;
    }
  }

  .nav-btn {
    padding: 5px;
    background: transparent;
    border: none;
    color: var(--textColor);
    outline: none;
    font-size: 1.5rem;
    display: none;
    font-weight: 700;
    cursor: pointer;
  }
  .menu-list {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    list-style: none;
    text-transform: uppercase;
    .login-btn {
      text-transform: none;
      background-color: var(--greenColor);
      color: var(--textHoverColor);
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--greenColor);
        color: var(--textColor);
      }
    }
    .logout-btn {
      background-color: var(--mainColor);
      text-transform: uppercase;
      color: var(--textColor);
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--greenColor);
        color: var(--textColor);
      }
    }
  }

  nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    &:hover {
      color: var(--textHoverColor);
    }

    &.active {
      border-bottom: 2px solid var(--textColor);
    }
  }
}
@media only screen and (max-width: 768px) {
  header {
    .logo {
      img {
        width: 35px;
      }
    }

    .nav-btn {
      display: block;
      cursor: pointer;
    }
    .menu-list {
      flex-direction: column;
      gap: 1.7rem;
      .login-btn {
        padding: 0.4rem 1rem;
        font-size: 1.1rem;
      }
    }
    nav {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--mainColor);
      transition: transform 1.5s ease-in-out;
      transform: translateY(-100vh);
      z-index: 1000;

      &.responsive_nav {
        transform: none;
        z-index: 1000;
      }
      .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
    }
  }
}
