.superadmin-panel {
  color: var(--textColorDark);
  background-color: var(--secondaryColorLight);
  padding: 2rem;
  border-radius: 8px;
  width: 70vw;
  margin: 2rem;
  overflow-y: auto;

  &__title {
    font-size: 1.8rem;
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  .red-error {
    color: red;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .superadmin-text {
    text-align: center;
  }
  &__list-details {
    font-size: 1rem;
    color: var(--textColorDark);

    p {
      margin: 0.5rem 0;
    }
  }

  &__list-buttons {
    display: flex;
    gap: 0.8rem;
    padding: 1rem;
    border-bottom: 1px solid var(--mainColor);

    .approve {
      background-color: var(--greenColor);
      color: var(--buttonTextColor);
      border: none;
      padding: 0.9rem 1.5rem;
      font-size: 1.3rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--buttonHoverColor);
      }
    }

    .reject {
      background-color: var(--mainColor);
      color: var(--textColor);
      border: none;
      padding: 0.9rem 1.5rem;
      font-size: 1.3rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--buttonHoverColor);
      }
    }
  }
}

@media (max-width: 768px) {
  .superadmin-panel {
    margin-top: 80px;
    padding: 1.3rem;
    width: 90vw;
    margin: 1.3rem;
    gap: 1rem;
    overflow-y: auto;

    &__title {
      font-size: 1.3rem;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
    .red-error {
      color: red;
    }
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__list-item {
      border: none;
      margin-bottom: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      &:last-child {
        margin-bottom: 0.5rem;
      }
    }

    &__list-details {
      font-size: 1rem;
      flex-direction: column;
    }

    &__list-buttons {
      margin-top: 1rem;
      flex-direction: column;
      gap: 0.8rem;
      margin: 0 1rem;

      .approve {
        padding: 0.5rem 1.2rem;
        font-size: 1.1rem;
      }

      .reject {
        padding: 0.5rem 1.5rem;
        font-size: 1.1rem;
      }
    }
  }
}
