
@use '_createAccount';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


:root {
  
    --mainColor: #34606C; 
    --mainColorLight: #91ACB3; 
    --secondaryColorLight: #D4DBDA; 
    --textColorDark: rgb(22, 22, 22); 
    --textColor: #FFFFFF; 
    --greenColor: #29BD9D; 
    --greenColorlight: #29BD9D; 
    --darkBlueColor: #263A69; 
    --whiteColor: #FFFFFF; 
  }
  main{
    background-color: var(--mainColorLight);
    height: 60%;
    
  }
  

