* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  h2 {
    font-size: 1.8rem;
  }
}

:root {
  --mainColor: #34606c;
  --mainColorLight: #91acb3;
  --secondaryColorLight: #d4dbda;
  --textColorDark: rgb(22, 22, 22);
  --textColor: #ffffff;
  --greenColor: #29bd9d;
  --greenColorlight: #29bd9d;
  --darkBlueColor: #263a69;
  --whiteColor: #ffffff;
  
 
  
}
html,body{
  height: 100vh;
  margin: 0;
  background-color: var(--mainColorLight);
  
}
main {
  flex: 1;
  background-color: var(--mainColorLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  min-height: 80px;
}
.red-error{
  color:red;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.3rem;
  }
}
